
/** Everything for the home page **/
#homeBG {
    cursor: url(assets/cursor.cur), auto;
    background-image: url(images/shimmerstars.gif);
    color: white;
}

main {
  width: fit-content;
  margin: auto;
  border: 1px solid white;
  padding: 0.4em;
}

.captions {
    font-style: italic;
}

.end {
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(255, 255, 255);
    
}

#me {
    width: 10vw;
    padding-top: 10px;
    border: outset white;
}
#intro {
  display: flex;
  align-items: center;
  justify-content: center
}
.text {
  font-size: 20px;
  padding-left: 20px;
}
.aboutMe {
  margin: 0.5em 0% 0% 0%;
  padding: 0%;
}
.meDesc {
  text-overflow: clip;
  width: 40vw; 
  margin: auto;
  padding-bottom: 20px;

}

.fair {
    height: 50vh;
    text-align: center;
}

figure {
  display: inline-block;
  position: relative;
}

figcaption {
  padding: 0.2em;
  justify-content: center;
  align-items: center;
  background-color: rgba(72, 255, 72, 0.7);
  display: none;
}

figure:hover figcaption {
  display: flex;
}
.homeLinks, .homeLinks:visited {
    color: rgb(72, 255, 72);
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    
}
.dashedLink:hover {
  font-weight: 900;
  border: 2px dashed rgb(72, 255, 72);;
}

.container {
  margin-top:auto;
  margin-bottom:auto;
  text-align: left;
  display: block;
  background-image: url(images/star.gif);
  padding-bottom: 20px;

}

/** Everything for the interests page **/

.blog:hover {
  color: #ffe600;
  text-align: center;
  text-shadow: 0 0 5px #ffae00, 0 0 30px #ffe600;
}
.blog {
  color: #ffe60088;
}
.images:hover {
  color: #5eff00;
  text-align: center;
  text-shadow: 0 0 5px #2ab300, 0 0 30px #5eff00;
}
.images {
  color: #5eff0088;
  position: relative;
  text-align: center;
}
.art:hover {
  color: #4ac6ff;
  text-align: center;
  text-shadow: 0 0 5px #22525a, 0 0 30px #014564;
}
.art {
  color: #4ac6ff88;
}
.learning:hover {
  color: #89ffd2;
  text-align: center;
  text-shadow: 0 0 5px #6a4496,0 0 30px #89ffd2;
}
.learning {
  color: #89ffd288;
}
.reading:hover {
  color: #f5abff;
  text-align: center;
  text-shadow: 0 0 5px #660055,0 0 30px #f5abff;
}
.reading {
  color: #f5abff88
}
.games:hover {
  color: #ff0000;
  text-align: center;
  text-shadow: 0 0 5px #800000,0 0 30px #ff0000;
}
.games {
  color: #db1e1e88
}
.music:hover {
  color: #ff7b00;
  text-align: center;
  text-shadow:0 0 5px #774000,0 0 30px #ff7b00;
}
.music {
  color: #ff7b0088
}

#interestsBG {
  background-image: url(images/animated_background.gif);
  color: white;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
}

#interests {
  text-align: center;
}

.icons {
  text-align: center;
  padding-top: 5vh;
  display: flex;
  justify-content: space-around;
  min-width: 0;
  flex-wrap: wrap;
}

.home {
  
  text-align: center;
}

.interestLinks {
  text-decoration: none;
}

/** Everything for the music page **/
@font-face {
  font-family: MusicFont;
  src: url(assets/ChloesMusic.ttf);
}

#musicBG {
  background-image: url(images/wall.gif);
}

.musicH1 {
  font-family: MusicFont;
  color: rgb(255, 252, 49);
  font-size: 100px;
  text-align: center;
}