
/** Everything for the home page **/
#homeBG {
    cursor: url(assets/cursor.cur), auto;
    background-image: url(images/shimmerstars.gif);
    color: white;
}

main {
  width: fit-content;
  margin: auto;
  border: 1px solid white;
  padding: 0.4em;
}

.captions {
    font-style: italic;
}

.end {
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(255, 255, 255);
    
}

#me {
    width: 10vw;
    padding-top: 10px;
    border: outset white;
}
#intro {
  display: flex;
  align-items: center;
  justify-content: center
}
.text {
  font-size: 20px;
  padding-left: 20px;
}
.aboutMe {
  margin: 0.5em 0% 0% 0%;
  padding: 0%;
}
.meDesc {
  text-overflow: clip;
  width: 25vw;
  
  margin: auto;
}

#fair {
    width: 20vw;
    padding-top: 20px;
}


a, a:visited {
    color: rgb(72, 255, 72);
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
}

.container {
  margin-top:auto;
  margin-bottom:auto;
  text-align: left;
  display: block;
  background-image: url(images/star.gif);
  padding-bottom: 20px;
}

/** Everything for the interests page **/
#interestsBG {
  background-image: url(images/animated_background.gif);
  color: white;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
}

#interests {
  text-align: center;
}

.icons {
  text-align: center;
  padding-top: 5vh;
  display: flex;
  justify-content: space-around;
  min-width: 0;
  flex-wrap: wrap;
}

.home {
  
  text-align: center;
}